.screen{
    position: absolute;
    top: 10px;
    left: 15px;
}

.operation {
    position: absolute;
    top: 110px;
    right: 20px;
}

.fila1{
    position: absolute;
    top: 610px;
}

.fila2{
    position: absolute;
    top: 510px;
}

.fila3{
    position: absolute;
    top: 410px;
}

.fila4{
    position: absolute;
    top: 310px;
}

.fila5{
    position: absolute;
    top: 240px;
}

.fila6{
    position: absolute;
    top: 170px;
}

.columna1{

    left: 325px;
}

.columna2{

    left: 224px;
}

.columna3{

    left: 121px;
}

.columna4{

    left: 15px;
}