body{
    display: flex;
    justify-content: center;
    width: 90vw; 
    height: 100vh;  
    background: linear-gradient(45deg, #FFE53B, #00FFFF) ;
}

.carcasa{
    display: flex;
    position: relative;
    top: 100px;
    background-color: rgb(32, 32, 32);
    border-radius: 3px;
    width: 344px;
    height: 497px;

}

.screen{
    text-align: right;
    font-family:Verdana;
    color: white;
    font-size: 50px;
    border: none;
    border-radius: 20px;
    width: 335px;
    background-color: none;
    white-space:nowrap; 
    overflow-x:auto;

    scrollbar-width: 1px; /* Establece el grosor de la barra de desplazamiento */
    scrollbar-color: #333 #ccc; /* Establece los colores de la barra de desplazamiento (flecha y fondo) */
    scroll-behavior: smooth;
}


.operation{
    width: 385px;
    height: 50px;
    font-size: 25px;
    font-family: verdana;
    text-align: right;
    color: rgb(174, 172, 172);
    white-space: nowrap; 
    overflow-x: auto;
    overflow-y: hidden; 
}

#iqual:hover{
    background-color: rgb(97, 170, 229);
}

#iqual{
    background-color: rgb(106, 186, 252);
    color: black;

}

.tecla:hover{
    background-color: rgb(69, 69, 69);
}

.tecla:active{
    background-color: rgb(45, 45, 45);

}
/* rgb(31, 58, 83); */
.tecla{
    margin: 2px;
    opacity: none;
    color: white;
    background-color: rgb(50, 50, 50);
    border: solid;
    border-color: rgb(50, 50, 50);
    font-family: Verdana;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    width: 80px;
    height: 50px;
    position: absolute;
}

.numbers:hover{
    background-color: rgb(50, 50, 50);
    border: solid;
    border-color: rgb(50, 50, 50);

}

.numbers:active{
    background-color: rgb(45, 45, 45);

}

.numbers{
    margin: 2px;
    opacity: none;
    color: white;
    background-color: rgb(69, 69, 69);
    border: solid;
    border-color: rgb(69, 69, 69);
    font-family: Verdana;
    font-size: 15px;
    border-radius: 3px;
    border: none;
    width: 80px;
    height: 50px;
    position: absolute;
}