@font-face {
    font-family: 'nike';
    src: url(/fonts/Futura\ Bold.otf) ;
}

@font-face {
    font-family: 'digit';
    src: url(/fonts/digital/DS-DIGIB.TTF) ;
}


body{
    display: flex;
    justify-content: center;
    width: 90vw; 
    height: 100vh;  
    background: linear-gradient(45deg, #FFE53B, #00FFFF) ;
}

.carcasa{
    display: flex;
    position: relative;
    top: 100px;
    background-color: rgb(100, 98, 98, 0.7);
    border-radius: 20px;
    width: 420px;
    height: 705px;

}

.screen{
    text-align: right;
    font-family:digit;
    font-size: 100px;
    border-radius: 20px;
    border: solid;
    width: 385px;
    height: 140px;
    background-color: rgb(179, 248, 169);

}

.operation{
    width: 385px;
    height: 50px;
    font-size: 40px;
    font-family: digit;
    text-align: right;
}

#iqual:active{
    box-shadow:none;
}

#iqual{
    background-color: rgb(233, 58, 58);
    color: white;
    box-shadow:3px 3px 0px 0px black;

}

.tecla:active{
   transform: translateY(3px);
   box-shadow: none;

}
/* rgb(31, 58, 83); */
.tecla{
    opacity: none;
    color: white;
    box-shadow: 3px 3px 0px 0px black;
    background: rgb(31, 58, 83);
    font-family: Verdana;
    font-size: x-large;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    position: absolute;
}

.tecla2:active{
    transform: translateY(3px);
    box-shadow: none;
 
 }

.tecla2{
    opacity: none;
    color: white;
    box-shadow: 3px 3px 0px 0px black;
    background: rgb(31, 58, 83);
    font-family: Verdana;
    font-size: x-large;
    border: none;
    border-radius: 10px;
    width: 80px;
    height: 50px;
    position: absolute;
}